body{
    background-color: rgb(226, 229, 232);
    text-align: center;
    padding: 1px;
    margin: 10%;
}

header, footer{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul{
    display: flex;
    display: -webkit-flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    list-style-type: none;
    background-color: rgb(7, 16, 17);
    border: 1px solid rgb(24, 88, 125);
    border-width: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 50px;
    justify-content: space-between;
    color: white;
}

ul li{
padding: 6px 17px;
}

li.data-testid{
   display: block;
   text-align: center;
   padding: 10px;
}

textarea{
    background-color: whitesmoke;
    border-radius: 25px;
}

button{
    border-radius: 25px;
    height: 70px;
    width: 200px;
    padding: 0;
    margin: 15px;
    font-size: 30px;
    background-color: rgb(35, 35, 143);
    border-color: rgb(43, 52, 226);

}